<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="factoryBeanAspect" class="xyz.codedog.chapter11.aspect.ProxyFactoryBeanAspect"/>

    <!--设定代理类-->
    <bean id="roleService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--这里代理的是接口-->
        <property name="proxyInterfaces">
            <value>xyz.codedog.chapter11.game.service.RoleService</value>
        </property>

        <!--shi proxyFactoryBean要代理的目标类-->
        <property name="target">
            <bean class="xyz.codedog.chapter11.game.service.impl.RoleServiceImpl"/>
        </property>

        <!--定义通知-->
        <property name="interceptorNames">
            <list>
                <!--引入定义好的spring bean-->
                <value>factoryBeanAspect</value>
            </list>
        </property>
    </bean>
</beans>